html, body {
    height: 100%;
    font-family: "Novozymes-Bd", "Novozymes", "Verdana";
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background: url("../images/bg.jpg");
    background-size: cover;
    flex-wrap: wrap;
}

h1 {
    color: #C5DA00;
    font-weight: bold;
    font-size: 4em;
}

h2 {
    color: #ffffff;
    font-size: 2em;
    font-style: italic;
}

.iconLink {
    color: #2D0028;
}
.iconLink:hover{
    color: #2D0028;
}

.card {
    opacity: 0.7;
    background-color: #ffffff;
    color: red !important;
}
.card:hover {
    opacity: 1.0;
}

.cursorPointer:hover {
    cursor: pointer;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    left:0;
    z-index: 20;
} 

.navbar {
    background-color: #ffffff !important;
    opacity: 0.65;
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    left:0;
    z-index: 20;
}

.navbar-light .navbar-brand{
    color:#2D0028;
    font-weight: bold;
}

.navbar-light .navbar-brand:hover{
    color:#C5DA00;
}

.dropdown-menu {
    border: 0px;
    border-radius: 0rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #2D0028;
}

.dropdown-item:hover{
    background-color:#6c757d;
    color: white !important;
}
.nav-link:hover{
    color: #ffffff !important;
}

.btn-outline-secondary {
    color: #000000;
    border-radius: 0;
    border: 0px;
}
